
.Bangladesh{
    background-color: rgb(139, 139, 114) ;
    color: gold;
    text-align: center;
    margin: 0;
    padding: 0;
    /* font-variant: initial; */
    box-shadow: bisque 20px 20px;
}
#how{
    background-color: aquamarine;
    color: tomato;
    text-align: center;
    margin: 10%;
    padding: 10%;
    justify-content: center;
    border-radius: 20%;
    box-shadow: burlywood 20px 20px 20px;
}

#can{
    background-color: rgb(75, 167, 77);
    text-align: center;
    margin: 10%;
    padding: 10%;
    justify-content: center;
    border-radius: 20%;
    box-shadow: black 20px 20px 20px;
}

#todo{
    background-color: rgb(83, 95, 173);
    text-align: center;
    margin: 10%;
    padding: 10%;
    justify-content: center;
    border-radius: 20%;
    box-shadow: pink 30px 30px 30px;
}

#mom{
    background-color: rgb(162, 50, 117);
    text-align: center;
    margin: 10%;
    padding: 10%;
    justify-content: center;
    border-radius: 20%;
    box-shadow: greenyellow 30px 30px 30px;
}